body.index .introduction {
  position: relative;
  display: block;
  height: 100vh;
  text-align: center; }
  body.index .introduction .header-wrapper {
    position: absolute;
    top: 10vh;
    left: 10vw;
    text-align: left; }
    body.index .introduction .header-wrapper span {
      display: block; }
    body.index .introduction .header-wrapper .header {
      letter-spacing: 6px;
      text-transform: uppercase;
      font-size: 18px; }
    body.index .introduction .header-wrapper .sub-header {
      color: #969696;
      font-size: 14px; }
  body.index .introduction .logo {
    position: relative;
    display: inline-block;
    width: 100px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    font-size: 20px;
    color: #333333; }
    body.index .introduction .logo img {
      width: 100%; }
body.index .service {
  position: relative;
  display: block;
  margin-bottom: 20vh;
  font-size: 14px; }
  body.index .service .left-container {
    position: relative;
    display: inline-block;
    left: 20vw;
    width: 35vw;
    text-align: right;
    vertical-align: middle; }
    body.index .service .left-container .header {
      opacity: 0.1;
      font-size: 80px; }
  body.index .service .right-container {
    position: relative;
    display: inline-block;
    left: 25vw;
    width: 35vw;
    vertical-align: middle;
    overflow: hidden; }
    body.index .service .right-container ul li {
      margin: 10px 0;
      visibility: hidden;
      -webkit-transition-duration: 500ms;
      -moz-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
body.index .history {
  position: relative;
  height: 900px;
  text-align: center;
  overflow: hidden; }
  body.index .history .header {
    opacity: 0.1;
    font-size: 80px; }
  body.index .history .timeline {
    position: absolute;
    z-index: -1;
    left: calc(50% - 1px);
    margin-top: 20px;
    border-left: 2px solid #323232;
    height: 750px; }
  body.index .history .year-indicator {
    position: absolute;
    z-index: -1;
    left: calc(50% - 7px);
    width: 14px; }
  body.index .history .year-1958 {
    margin-top: 50px; }
  body.index .history .year-1975 {
    margin-top: 180px; }
  body.index .history .year-1979 {
    margin-top: 310px; }
  body.index .history .year-1989 {
    margin-top: 440px; }
  body.index .history .year-1998 {
    margin-top: 570px; }
  body.index .history .year-1999 {
    margin-top: 700px; }
  body.index .history .wrapper-left, body.index .history .wrapper-right {
    visibility: hidden; }
    body.index .history .wrapper-left .header, body.index .history .wrapper-right .header {
      position: relative;
      top: -12px;
      font-size: 30px; }
  body.index .history .wrapper-right {
    position: absolute;
    left: calc(50% + 20px);
    width: 30%;
    text-align: left; }
  body.index .history .wrapper-left {
    position: absolute;
    right: calc(50% + 20px);
    width: 30%;
    text-align: right; }
body.index .project {
  margin-top: 200px; }
  body.index .project .header {
    position: relative;
    display: inline-block;
    left: 10vw;
    opacity: 0.1;
    font-size: 80px; }
  body.index .project .wrapper-project:nth-child(2) {
    border-top: 1px solid #c8c8c8; }
  body.index .project .wrapper-project {
    position: relative;
    padding: 80px 10vw;
    border-bottom: 1px solid #c8c8c8;
    background: linear-gradient(to right, #c8c8c8 34%, white 65%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition-duration: 1000ms;
    overflow: hidden; }
    body.index .project .wrapper-project:hover {
      transition-duration: 1000ms;
      background-position: left bottom; }
    body.index .project .wrapper-project .project-header {
      font-size: 20px;
      visibility: hidden; }
    body.index .project .wrapper-project .project-sub-header {
      color: #969696;
      font-size: 12px;
      visibility: hidden;
      transition-delay: 200ms; }
    body.index .project .wrapper-project .project-preview {
      position: absolute;
      opacity: 0;
      overflow: hidden;
      top: 0;
      left: calc(10vw + 220px);
      width: 340px;
      transition-delay: 200ms;
      transition-duration: 500ms; }
body.index .footer {
  position: relative;
  padding-top: 60px;
  height: 250px;
  text-align: center; }
  body.index .footer .left-container, body.index .footer .right-container {
    display: inline-block;
    vertical-align: top;
    width: 40vw;
    color: #969696; }
    body.index .footer .left-container .header, body.index .footer .right-container .header {
      color: #323232;
      padding-bottom: 20px; }
  body.index .footer .copyright {
    margin-top: 80px;
    font-size: 14px; }

html {
  font-family: 'Abel', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

body {
  padding: 0;
  margin: 0; }
  body .loading-wrapper {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center; }
    body .loading-wrapper .loading-gif {
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 100px;
      height: 100px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/*# sourceMappingURL=style.css.map */
