body.career {

	background: url("../img/career.jpg");
	background-size: cover;
	background-position: top center;

	.form-container {
		display: inline-block;
		position: absolute;
		padding: 20px 50px;
		background: rgba(255,255,255,0.7);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		form {
			label {
				display: block;
				font-size: 12px;
			}
			input {
				width: 300px;
				padding: 14px 22px;
				border: 1px solid lightgrey;
				margin-bottom: 10px;
				&:hover {
					border: 1px solid grey;
				}
			}
			input[type="submit"] {
				cursor: pointer;
				color: white;
				background-color: grey;
				border: 1px solid grey;
				margin-top: 20px;
				&:hover {
					background-color: darkslategrey;
				}
			}
		}
	}
}