body.career {

	background: url("../img/career.jpg");
	background-size: cover;
	background-position: top center;

	.form-container {
		display: inline-block;
		position: absolute;
		padding: 50px;
		background: rgba(255,255,255,0.8);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		form {
			input {
				width: 300px;
				padding: 18px 26px;
				border: 1px solid lightgrey;
				margin-bottom: 10px;
				&:hover {
					border: 1px solid grey;
					transition: border 1s;
				}
			}
			input[type="submit"] {
				cursor: pointer;
				color: white;
				&:hover {
					transition: border 0s;
					background-color: grey;
				}
			}
		}
	}
}